.pretty-math {

    .hidden-textarea {
        position: absolute;
        top: 0;
        left: 0;
        transform: scale(0);
    }

    .cursor-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }

    .block {
        display: inline-block;
        white-space: pre;
    }

    .cursor {
        border-left: 1px solid;
        display: inline;
        margin-left: -1px;
        position: absolute;
    }

    .cursor-blink {
        animation: 1s cursor-blink step-end infinite;
    }

    &:focus-within {

        .selected-block {
            background-color: lightblue;
        }
    }

    .end-block {
        background-color: lightgrey;
        display: inline;
        margin-right: 1px;

        &.end-block--transparent {
            background-color: transparent;
        }
    }
}

@keyframes cursor-blink {
    from, to {
        border-left: 1px solid;
    }
    50% {
        border-left: 1px solid transparent;
    }
}
