.pm-input {
    display: inline-block;
    position: relative;
    width: 100%;
    cursor: text;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px;

    &:hover {
        box-shadow: 0 0 0 1px lightgrey;
    }

    &:focus-within {
        outline: none;
        border: 1px solid #4D90FE;
        box-shadow: 0 0 5px #4D90FE;
    }

}
