@import "assistant";
@import "math";
@import "math-field";
@import "z-indexes";

#pretty-math-overlay-portal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
}
