#pretty-math-assistant-portal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
}

.assistant {
    background-color: #F6F8F9;
    border: 1px solid #E4E6E8;
    border-radius: 6px;
    box-shadow: 0 2px 10px 1px #cccccc;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    min-width: 300px;
    padding-top: 0.5em;
    pointer-events: auto;
    position: relative;
    text-align: left;

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .focused-token {
        display: flex;
        padding: 0.5em 1em 0;

        .token {
            padding: 0.5em;
        }

        .token-info {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: #98A0B5;
            font-weight: 300;
            margin-left: 0.5em;

            .row {
                margin-bottom: 0.25em;
            }

            .title {

            }

            .description {
                font-size: 0.9em;
            }

            .evaluation {
                font-size: 0.9em;
            }
        }

        &.active {
            background-color: rgba(85, 179, 105, 0.3);
        }
    }

    .library {
        position: relative;

        &::-webkit-scrollbar {
            width: 0 !important;
        }

        .tabs {
            padding: 0 1em;
            display: flex;
            flex-direction: row;
            text-transform: uppercase;
            color: #FF3465;

            .tab {
                padding: 0.35em 0.45em;
                border-bottom: 3px solid transparent;
                font-size: 0.8em;
                font-weight: 500;
                letter-spacing: 1px;
                cursor: pointer;
                margin: 0 2px;

                &.active-tab {
                    border-bottom: 3px solid #FF3465;
                }

                &:hover {
                    border-bottom: 3px solid #FF3465;
                }
            }
        }

        .tab-content {
            background-color: #F6F8F9;
            border-top: 1px solid #E4E6E8;
            border-bottom: 1px solid #E4E6E8;
        }

        .entry-list-scroller {
            position: relative;
            max-height: 11em;
            overflow-y: auto;

            &::-webkit-scrollbar {
                width: 0 !important;
            }
        }

        &.full-library {

            .entry-list-scroller {
                max-height: 22em;
            }
        }

        .library-entry-list {
            width: 400px;
            padding-bottom: 2.25em;

            .library-entry-item {
                padding: 0.5em 1em;
                cursor: pointer;
                display: flex;
                align-items: baseline;

                .descr {
                    margin-left: auto;
                    font-size: 0.8em;
                }

                &:hover {
                    background-color: darken(#F6F8F9, 2%);
                }

                &.focused {
                    background-color: rgba(85, 179, 105, 0.3);
                }
            }
        }

        .empty-list {
            color: grey;
            font-weight: 200;
            padding: 1em;
            padding-bottom: 2.25em;
            text-align: center;
        }
    }

    .hint-wrapper {
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
        bottom: 0;
        padding: 1.5em 1em 0.25em 1em;
        position: absolute;
        width: 100%;
        font-size: 0.8em;
        color: #666666;

        .full-library-button {
            color: #FF3465;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.assistant__positioner {
    position: absolute;
}
