.math-field {
    display: inline-block;
    position: relative;
    width: 100%;
    cursor: text;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-sizing: border-box;

    &:hover {
        box-shadow: 0 0 0 1px lightgrey;
    }

    &.error {
        border: 1px solid #b41d19;
        box-shadow: 0 0 5px #b41d19;
    }

    .overlay-portal {
        position: absolute;
        top: 0;
        left: 0;
    }

    .hidden-textarea {
        position: absolute;
        top: 0;
        left: 0;
        transform: scale(0);
    }

    .cursor {
        display: none;
        border-left: 1px solid blue;
        animation: 1s cursor-blink step-end infinite;
        margin-left: -1px;
    }

    .focused-word-indicator {
        position: absolute;
        pointer-events: none;
        background-color: antiquewhite;
        opacity: 0.4;
    }

    .assistant-container {
        display: none;
        position: absolute;
        top: calc(100% + 3px);
        box-sizing: border-box;
        font-size: 16px;
        width: 400px;
    }

    &.focused {
        outline: none;
        border: 1px solid #4D90FE;
        box-shadow: 0 0 5px #4D90FE;

        .assistant-container {
            display: block;
        }

        .focused-token {
            background-color: rgba(250, 235, 215 , 0.4);
        }

        .selected {
            background-color: lightblue;
        }

        .outline {
            outline: 1px solid lightgrey;
        }

        .cursor {
            display: inline;
        }

    }

    .block-error-dialog {
        position: absolute;
        border: 1px solid red;
        border-radius: 5px;
        background-color: rgba(255, 118, 118, 0.3);
        font: initial;
        transform: translate(-50%, -100%);
        min-width: 150px;
        padding: 5px;
    }
}

@keyframes cursor-blink {
    from, to {
        border-left: 1px solid;
    }
    50% {
        border-left: 1px solid transparent;
    }
}
