.pm-math {
    font-family: "Times New Roman", Symbola, serif;

    .symbol {
        font-style: italic;
    }

    .binary-op {
        padding-left: 0.2em;
        padding-right: 0.2em;

        &.no-padding-right {
            padding-right: 0;
        }

        &.no-padding-left {
            padding-left: 0;
        }
    }

    .fraction {
        display: inline-block;
        vertical-align: middle;
        padding-left: 0.2em;
        padding-right: 0.2em;

        .numerator {
            float: left;
            width: 100%;
            text-align: center;
            margin-bottom: -0.62em;
            padding-left: 1px;
        }

        .fraction-line {
            display: block;
            clear: both;
            height: 1em;
            pointer-events: none;

            .line {
                display: inline-block;
                width: 100%;
                vertical-align: 0.25em;
                border-bottom: solid 1px;
            }
        }

        .denominator {
            float: left;
            width: 100%;
            text-align: center;
            padding-left: 1px;
        }
    }

    .integral {
        position: relative;
        display: inline-flex;
        align-items: baseline;
        padding-left: 0.4rem;
        padding-right: 0.4rem;

        .integral-symbol {
            font-size: 250%;
            font-family: Symbola;
            transform: scaleX(0.7);
            vertical-align: middle;

            span {
                vertical-align: inherit;
            }
        }

        .integral-bounds {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-self: normal;

            .right-bound {
                font-size: 80%;
            }

            .left-bound {
                font-size: 80%;
                margin-left: -75%;
            }
        }

        .inner {
            margin-left: 0.1rem;
            margin-right: 0.2rem;
        }

        .wrt {
            font-style: italic;
        }
    }

    .radical {
        position: relative;
        display: inline-flex;

        .inner {
            padding: 0.1em 1px 0 1px;
            margin: 0.1em 0.1em 0 1em;
        }

        .radical-symbol {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: visible;
            pointer-events: none;
        }
    }

    .sup-sub {
        display: inline-block;
        position: relative;
        text-align: left;

        .sup {
            float: left;
            clear: both;
            margin-bottom: -.9257em;
            margin-top: 0;
            padding-left: 1px;
            font-size: 0.7em;
        }

        .middle-base {
            display: block;
            clear: both;
            height: 1em;

            .inline {
                display: inline-block;
            }
        }

        .sub {
            float: left;
            clear: both;
            margin-top: -0.547899em;
            margin-bottom: 0;
            padding-left: 1px;
            font-size: 0.7em;

            .symbol {
                font-style: normal;
            }
        }
    }
}
